# ELement word that will be used to find paths in input xml files
QUERY_WORD_IN = "{http://example.com}replace"
# ELement word that will be used to find paths in input xml files
QUERY_WORD_OUT = "replace"
